@model Ui_Layer.Models.RegisterModel.LoginView;
<html>
<head>
    <link rel="stylesheet" href="~/css/Index_Style.css" />
</head>
<body class="hero">
    <div class="Login_form_box">
        <div class="bottom_box">
            <div id="btn1"></div>
            <a class="toggle_buttom btn" asp-action="Login" asp-controller="Authintcation">Login</a>
            <a class="toggle_buttom btn" asp-action="Register" asp-controller="Authintcation">Register</a>
        </div>
        <form class="Login_Form" method="post" asp-action="Login_Actions" asp-controller="Authintcation">
            <input type="text" class="input_form" placeholder="Email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="password" class="input_form" placeholder="Password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="checkbox" class="check_box" asp-for="Remeber_Me" />
            <label asp-for="Remeber_Me" class="Label_11"></label>
            <button type="submit" class="Submit_buttom">Login</button>
        </form>
    </div>
</body>
</html>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
             <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
             <script src="~/lib/jquery/dist/jquery.js"></script>
             <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            if(ViewData["LogFildMassage"]!=null){
                alert(ViewData["LogFildMassage"]);
            }
           if(ViewData["Password"]!=null){ 
               alert(ViewData["Password"]);
           }
        });
    </script>

}